<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidong.mapper.GoodsMapper" >
  <resultMap id="Goods" type="Goods" >
    <id column="id" property="goodsId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <collection property="pictures" javaType="ArrayList" ofType="java.lang.String"
                column="id" select="selectPicture"></collection>
    <collection property="priceList" javaType="ArrayList" ofType="Price"
                column="id" select="com.yidong.mapper.PriceMapper.selectPrice"></collection>
  </resultMap>
  <resultMap id="VipGoods" type="VipGoods" >
    <id column="id" property="goodsId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="integral" property="integral" jdbcType="FLOAT"/>
    <result column="batch" property="batch" jdbcType="INTEGER" />
    <association property="allRetail" column="id" select="selectAllRetail">
    </association>
    <association property="monthRetail" column="id" select="selectMonthRetail">
    </association>
    <collection property="pictures" javaType="ArrayList" ofType="java.lang.String"
                column="id" select="selectPicture"></collection>
    <collection property="priceList" javaType="ArrayList" ofType="Price"
                column="id" select="com.yidong.mapper.PriceMapper.selectPrice"></collection>
  </resultMap>
  <resultMap id="GoodsInfoMap" type="GoodsInfo" >
    <id column="id" property="goodsId" jdbcType="INTEGER" />
    <result column="name" property="goodsName" jdbcType="VARCHAR" />
    <association property="goodsPicture" column="id" select="selectShoppingcarGoodsPicture">
    </association>
  </resultMap>
  <select id="selectShoppingcarGoodsPicture" resultType="java.lang.String">
    SELECT imgAddress from tb_goods_picture where goodsId=#{id} group by goodsId
  </select>
  <select id="selectAllRetail" resultType="java.lang.String">
    SELECT sum(num) from tb_retail where goodsId=#{id}
  </select>
  <select id="selectMonthRetail" resultType="java.lang.String">
    SELECT sum(num) from tb_retail where goodsId=#{id} and DATE_FORMAT(time,'%Y%m')=DATE_FORMAT(CURDATE(),'%Y%m')
  </select>
  <select id="selectPicture" resultType="java.lang.String" >
    SELECT imgAddress from tb_goods_picture where goodsId=#{id}
  </select>
  <select id="selectGoods" resultMap="Goods">
    SELECT id,name,detail from tb_goods where state!=3;
  </select>
  <select id="selectSingleGoods" resultMap="Goods">
    SELECT id,name,detail from tb_goods where state!=3 and id=#{goodsId};
  </select>
  <select id="selectSingleVipGoods" resultMap="VipGoods">
    SELECT id,name,detail,integral,batch from tb_goods where id=#{goodsId} and state!=3;
  </select>
  <select id="selectVipGoods" resultMap="VipGoods" parameterType="java.lang.Integer">
    SELECT id,name,detail,integral,batch from tb_goods where id=#{goodsId} and state!=3;
  </select>
  <select id="selectGoodsInfo" resultMap="GoodsInfoMap" parameterType="java.lang.Integer">
    SELECT id,name from tb_goods where id=#{goodsId}
  </select>
  <select id="selectGoodsName" resultType="java.lang.String">
    SELECT name from tb_goods where id=#{goodsId}
  </select>

  <select id="selecrGoodsByTypeId" resultMap="Goods">
      SELECT id,name,detail from tb_goods where state!=3 and smallTypeId=#{smalTypeId};
  </select>
</mapper>