<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidong.mapper.OrderformMapper" >
  <resultMap id="OrderformMap" type="Orderform" >
    <id column="id" property="orderformId" jdbcType="VARCHAR" />
    <result column="sumFirst" property="sumFirst" jdbcType="INTEGER" />
    <result column="sumFinal" property="sumFinal" jdbcType="INTEGER" />
    <result column="transportFee" property="transportFee" jdbcType="INTEGER" />
    <result column="userId" property="openId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="remarksWhenOrder" property="remarksWhenOrder" jdbcType="VARCHAR" />
    <result column="remarksWhenRefund" property="remarksWhenRefund" jdbcType="VARCHAR" />
    <result column="remarksServiceReturn" property="remarksServiceReturn" jdbcType="VARCHAR" />
    <result column="giftId" property="giftId" jdbcType="INTEGER" />
    <result column="giftNum" property="giftNum" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <collection property="orderformGoods" javaType="ArrayList" ofType="OrderformGoods" column="id"
                select="selectOrderformGoods">
    </collection>
  </resultMap>
  <resultMap id="OrderformGoodsMap" type="OrderformGoods">
    <result column="goodsId" property="goodsId"></result>
    <result column="goodsName" property="goodsName"></result>
    <result column="goodsPicture" property="goodsPicture"></result>
    <result column="goodsPrice" property="goodsPrice"></result>
    <result column="priceId" property="priceId"></result>
    <result column="buyNum" property="buyNum"></result>
    <collection property="priceModels" javaType="ArrayList" ofType="java.lang.String" column="id"
                select="selectOrderformModel">
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, sumFirst, sumFinal, transportFee, userId, name, address, phone, remarksWhenOrder, 
    remarksWhenRefund, remarksServiceReturn,
    giftId, giftNum, state, createTime
  </sql>

  <select id="selectOrderform" resultMap="OrderformMap">
    SELECT * from tb_orderform where userId=#{opeId}
  </select>
  <select id="selectOrderformById" resultMap="OrderformMap">
    SELECT * from tb_orderform where id=#{orderformId}
  </select>
  <select id="selectOrderformGoods" resultMap="OrderformGoodsMap">
    SELECT * from tb_orderform_goods where orderformId=#{id}
  </select>
  <select id="selectOrderformModel" resultType="java.lang.String">
    SELECT modelName from tb_orderform_model where orderformGoodsId=#{id}
  </select>
  <select id="selectGoodsIdAndBuyNum" resultType="GoodsIdAndBuyNum" >
    SELECT goodsId,buyNum,integral from tb_orderform_goods,tb_goods where orderformId=#{orderformId} and tb_goods.id=goodsId
  </select>
  <insert id="insertOrderform" parameterType="Orderform">
    insert into tb_orderform values (#{orderformId},#{sumFirst},#{sumFinal},#{transportFee},#{openId},#{name},#{address},
    #{phone},#{remarksWhenOrder},#{remarksWhenRefund},#{remarksServiceReturn},#{giftId},#{giftNum},0,now());
  </insert>
  <insert id="insertOrderformGoods" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
    insert into tb_orderform_goods
    (orderformId,goodsId,goodsName,goodsPicture,goodsPrice, buyNum,priceId)
    values
    <foreach collection ="list" item="orderformGoods" index= "index" separator =",">
      (
      #{orderformGoods.orderformId},
      #{orderformGoods.goodsId},
      #{orderformGoods.goodsName},
      #{orderformGoods.goodsPicture},
      #{orderformGoods.goodsPrice},
      #{orderformGoods.buyNum},
      #{orderformGoods.priceId}
      );
    </foreach >
  </insert>
  <insert id="insertOrderformGoodsModel" parameterType="map" >
    insert into tb_orderform_model values
    <foreach collection ="models" item="model" index= "index" separator =",">
      (
       #{id},
       #{model}
      )
    </foreach>
  </insert>
  <update id="updateOrderform" parameterType="map">
    update tb_orderform
    <trim prefix="set" suffixOverrides=",">
      <if test="state!=null">
        state=#{state},
      </if>
      <if test="remarksWhenRefund!=null">
        remarksWhenRefund=#{remarksWhenRefund},
      </if>
    </trim>
    where id=#{orderformId}
  </update>
  
  <update id="updateIntegral" parameterType="java.util.List">
    <foreach collection ="list" item="goodsIdAndBuyNum" index= "index" separator =";" >
      update tb_vip set integral = integral + (#{goodsIdAndBuyNum.buyNum}*#{goodsIdAndBuyNum.integral}) where goodsId=#{goodsIdAndBuyNum.goodsId}
    </foreach>
  </update>
</mapper>